/* PC用 */
body {
  margin: 0px auto;
  padding: 10vh 5vw;
  border: #000000 5px solid;
  max-width: 1200px;
}

/* スマホ用 */
@media screen and (max-width: 480px) {
  body {
    margin: 0px 2vw;
    padding: 5vh 3vw;
    border: #000000 5px solid;
  }
}


p {
 padding: 5px;
}


.field {
 display: flex;
 justify-content: flex-start;
 align-items: center;
}


.place {
 width: 80px;
 height: 90px;
 border: #000000 1px solid;
 justify-content: center;
 align-items: center;
}


.none {
 width: 80px;
 height: 90px;
 border: #ffffff 1px solid;
}


.pillar {
 width: 80px;
 height: 90px;
 border: #000000 1px solid;
 background-color:#777777;
 justify-content: center;
 align-items: center;
}


.hidden {
 display: none;
}